<a href="https://colab.research.google.com/github/aditya161205/DAV/blob/main/q1_DAV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [57]:
data=pd.read_csv("student_data.csv")
data.head(100)

,Student_ID,Age,Gender,StudyHoursPerDay,SocialMediaHours,MovieTvShowHours,PoR,AttendancePercentage,SleepHoursPerNight,Diet_Quality,Exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,Cumulative_Grade
0,S1000,23.0,Female,0.0,NaN,1.1,No,NaN,NaN,Fair,NaN,Master,NaN,5.0,Yes,56.2
1,S1001,20.0,Female,6.9,2.8,2.3,No,97.3,4.6,Good,3.0,High School,Average,6.0,No,100.0
2,S1002,21.0,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,3.0,High School,Poor,6.0,No,34.3
3,S1003,NaN,Female,1.0,NaN,1.0,No,71.0,9.2,NaN,NaN,Master,Good,7.0,NaN,26.8
4,S1004,19.0,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3.0,Master,Good,5.0,No,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S1095,22.0,Male,1.7,2.9,2.0,No,97.5,6.0,Good,2.0,High School,Good,4.0,No,50.2
96,S1096,18.0,Female,NaN,3.6,0.8,No,NaN,7.1,Good,4.0,NaN,NaN,NaN,No,87.9
97,S1097,20.0,Male,4.1,2.0,1.0,No,90.4,5.4,Good,3.0,Bachelor,Average,6.0,No,80.9
98,S1098,22.0,Male,2.4,0.0,3.1,No,92.2,4.8,Good,2.0,Bachelor,Good,4.0,Yes,63.9
99,S1099,21.0,NaN,NaN,NaN,3.4,No,NaN,6.6,Good,3.0,NaN,Good,6.0,No,65.6

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Student_ID                     1000 non-null   object
 1   Age                            951 non-null    float64
 2   Gender                         957 non-null    object
 3   StudyHoursPerDay               957 non-null    float64
 4   SocialMediaHours               962 non-null    float64
 5   MovieTvShowHours               959 non-null    float64
 6   PoR                            953 non-null    object
 7   AttendancePercentage           945 non-null    float64
 8   SleepHoursPerNight             960 non-null    float64
 9   Diet_Quality                   974 non-null    object
 10  Exercise_frequency             954 non-null    float64
 11  parental_education_level       949 non-null    object
 12  internet_quality               956 non-null    object
 13  mental_health_rating           963 non-null    float64
 14  extracurricular_participation  960 non-null    object
 15  Cumulative_Grade               1000 non-null   float64
dtypes: float64(9), object(7)
memory usage: 125.1+ KB

In [59]:
numeric = data.select_dtypes(include=['float64']).columns
for col in numeric:
    data[col] = data[col].fillna(data[col].median())


cat = data.select_dtypes(include=['object']).columns
for col in cat:
    data[col] = data[col].fillna(data[col].mode()[0])

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Student_ID                     1000 non-null   object
 1   Age                            1000 non-null   float64
 2   Gender                         1000 non-null   object
 3   StudyHoursPerDay               1000 non-null   float64
 4   SocialMediaHours               1000 non-null   float64
 5   MovieTvShowHours               1000 non-null   float64
 6   PoR                            1000 non-null   object
 7   AttendancePercentage           1000 non-null   float64
 8   SleepHoursPerNight             1000 non-null   float64
 9   Diet_Quality                   1000 non-null   object
 10  Exercise_frequency             1000 non-null   float64
 11  parental_education_level       1000 non-null   object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   float64
 14  extracurricular_participation  1000 non-null   object
 15  Cumulative_Grade               1000 non-null   float64
dtypes: float64(9), object(7)
memory usage: 125.1+ KB